<%- include("backdoorHeader"); -%>
<h1>Compose</h1>
    <form class="" action="/addBlog" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Topic</label>
        <input class="form-control" type="text" name="postTopic">
        <label>Post</label>
        <textarea id="summernote" name="postBody" rows="5" cols="30"></textarea>
      </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("backdoorFooter"); -%>