<%- include("backdoorHeader"); -%>

<table id="basic-data-table" class="table nowrap" style="width:100%">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Phone Number</th>
		<th>Email</th>
		<th>Message</th>
		<th>date submitted</th>
		<th>replied</th>
	  </tr>
	</thead>
	
	<tbody>
		
	  <tr>
		<td>Tiger</td>
		<td>Nixon</td>
		<td>System Architect</td>
		<td>Edinburgh</td>
		<td>61</td>
		<td>2011/04/25</td>
	  </tr>

	</tbody>
  </table>


<%- include("backdoorFooter"); -%>