<%- include("backdoorHeader"); -%>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>Family Dental Admin</h3>

				<div class="tabbable-panel">
					<div class="tabbable-line">
						<ul class="nav nav-tabs">
							<li class="active">
								<a href="/formDashboard" data-toggle="tab">
									Dashboard </a>
							</li>
							<li>
								<a href="/addBlog" data-toggle="tab">
									Add a blog</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab_default_1">
								<%- include("formDashboard");-%> 
							</div>
							<div class="tab-pane" id="tab_default_2">
								<%- include("addBlog"); -%>

							</div>
							
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<%- include("backdoorFooter"); -%>