<%- include("header"); -%>

    <div class="container">
        <section>
            <div class="row">
                <h1>
                    WHAT IS A DENTAL IMPLANT?
                </h1>
                <p>
                    Implant is the best and most innovative way to replace the missing tooth.
                    Implant is basically the artificial root of the tooth, which is place in the bone with the help of a
                    very minor surgery. It is made up of titanium which is most bio compatible metal discovered on earth
                    as of now. Implant can be placed for replacing a single tooth or even for rehabilitation of entire
                    mouth for the patients who don’t have even a single tooth in their mouth. Implant can be placed
                    immediately after extraction (except some cases with a huge infection) or we
                    can plan them later after extraction (like in bone infection cases where we have to clean the bone
                    leave
                    it for healing for quite some time let’s say around 6-8 weeks).
                </p>
            </div>
        </section>
        <hr class="featurette-divider">
        <section>
            <div class="row">
                <h2>Dental Implant Options</h2>
                <ul>
                    <li>
                        <div class="row">
                            <div class="col-5">
                                <img height="250px" src="images\single-tooth-dental-implant.jpg" alt="">
                            </div>
                            <div class="col-7">
                                <h4>Single Tooth Dental Implant</h4>
                                <p>
                                    Best to replace a single missing tooth without intentionally damaging the existing
                                    healthy teeth.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">

                            <div class="col-7">
                                <h4>Multiple Dental Implants</h4>
                                <p>
                                    Whenever there is absence of 3 teeth we place 2 implants and then a bridge over it
                                    as shown in the picture above.
                                </p>
                            </div>

                            <div class="col-5">
                                <img height="250px" src="images\dental-implant-bridge.jpg" alt="">
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-5">
                                <img height="250px" src="images\implant-supported-dentures.jpeg" alt="">
                            </div>
                            <div class="col-7">
                                <h4>Full Mouth Implants</h4>
                                <p>
                                    Usually 4-8 implants are placed in a single jaw and later on a complete denture
                                    (semi fixed or fixed) is given on them as prosthesis. This is a treatment option
                                    when the patient wants fixed replacement of the teeth.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <div class="faq-section">
                <h1>
                    FAQ's
                </h1>
                <div class="accordion accordion-flush" id="faqAccordian">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            How painful is the implant procedure?
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#faqAccordian">
                        <div class="accordion-body">It is not at all painful because the procedure of minor implant surgery is done under local anesthesia.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            What is the durability of implant treatment?
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#faqAccordian">
                        <div class="accordion-body">It is a kind of long lasting or permanent solution for missing teeth but maintaining hygiene especially in the implant region is quite mandatory to increase the durability of the implant.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            How does the implant stabilize itself in the bone?
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#faqAccordian">
                        <div class="accordion-body">Implant is made up of titanium metal which is biocompatible metal and this feature makes implant eligible enough to be placed in the bone. and this makes feature makes the fusion of bone with implant easy.so implant is stabilized in the bone because the bone integrates itself with the implant.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            Why does the complete implant treatment take so long?
                          </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#faqAccordian">
                          <div class="accordion-body">It takes roughly around 3 months (might vary from case to case).it takes long because the bone needs that much time to integrate itself with the implant. This is the most crucial step and has to be perfect.</div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Is the implant surgery safe for all?
                          </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#faqAccordian">
                          <div class="accordion-body">Yes, implant surgery is a very minor procedure and is completely safe for everyone but we have to take little precautions and plan the procedure in a certain way in the patients with medical conditions like diabetes, blood pressure, and cardiac problems.  </div>
                        </div>
                      </div>
                  </div>
            </div>
        </section>
    </div>


    <%- include("footer"); -%>