<%- include("header"); -%>

    <section class="container">
        <div class="row">
            <div class="col-6 clinic-photo">
                <img src="images/clinic_01.jpeg" alt="">
            </div>
            <div class="col-6 clinic-text">
                <h1>About Our Clinic</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu justo sed arcu egestas vulputate. In
                    lobortis maximus eros quis pellentesque. Fusce at urna vulputate, euismod odio eu, lacinia tortor.
                    Maecenas justo risus, laoreet varius orci ac, maximus commodo mauris. Nullam sodales mi ac tincidunt
                    sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed gravida condimentum odio ac
                    rutrum. Proin vulputate pulvinar laoreet. Sed sed malesuada odio. Nulla facilisi. In vel nisl lacus.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris neque enim, viverra id egestas quis,
                    vehicula vitae magna.

                    Pellentesque dictum lacinia ipsum ac condimentum. Vivamus nec sapien ut metus volutpat rhoncus. Donec
                    eget pharetra nunc, mattis laoreet est. Phasellus blandit leo ut augue bibendum, a cursus magna
                    imperdiet. Aenean eget pharetra diam. Ut a dictum lorem. Mauris eu nulla elit. Vivamus est dolor,
                    euismod ut tellus sit amet, accumsan consequat tellus.

                    Nunc quis eros sit amet libero dapibus tempor in vitae sem. Etiam ac posuere leo, in bibendum libero.
                    Duis accumsan enim ultrices nibh tempor rhoncus. In nunc risus, pretium et enim vel, commodo porttitor
                    erat. Suspendisse potenti. Suspendisse molestie risus eu elit auctor, non ullamcorper velit pharetra.
                    Quisque eleifend dictum enim, ac tempus est euismod efficitur. Morbi in blandit ante, et venenatis
                    neque. Donec lobortis ipsum eget quam gravida, ut venenatis orci bibendum. Praesent at tempor libero,
                    sit amet eleifend tellus. In condimentum odio eget neque auctor laoreet. Morbi ac interdum magna.
                    Curabitur lobortis, ex ut pulvinar aliquam, tortor ligula gravida diam, tempor maximus urna felis a est.
                    Aliquam lectus tellus, venenatis hendrerit tristique ac, egestas quis urna. Donec egestas vehicula ex,
                    ac ultrices lacus eleifend vel.
                </p>
            </div>
        </div>
    </section>
    <hr class=" class="featurette-divider"">
    <section class="container container--gallery">
        <div class="row">
         <div>
            <h1>Clinic Album</h1>
            <p>
                Pellentesque dictum lacinia ipsum ac condimentum. Vivamus nec sapien ut metus volutpat rhoncus. Donec
                    eget pharetra nunc, mattis laoreet est. Phasellus blandit leo ut augue bibendum, a cursus magna
                    imperdiet. Aenean eget pharetra diam. Ut a dictum lorem. Mauris eu nulla elit. Vivamus est dolor,
                    euismod ut tellus sit amet, accumsan consequat tellus.
            </p>
         </div>
          
          <div class="col-sm-6">
            <a class="photo-zoom" href="images/clinic_02.jpeg">
              <img src="images/clinic_02.jpeg" alt="" />
            </a>
          </div>   
      
          <div class="col-sm-6">
            <a class="photo-zoom" href="images/clinic_03.jpeg">
              <img src="images/clinic_03.jpeg" alt="" />
            </a>
          </div>   
      
          <div class="col-sm-4">
            <a class="photo-zoom" href="images/clinic_04.jpeg">
              <img src="images/clinic_04.jpeg" alt="" />
            </a>
          </div>   
      
          <div class="col-sm-4">
            <a class="photo-zoom" href="images/clinic_05.jpeg">
              <img src="images/clinic_05.jpeg" alt="" />
            </a>
          </div>   
      
          <div class="col-sm-4">
            <a class="photo-zoom" href="images/clinic_06.jpeg">
              <img src="images/clinic_06.jpeg" alt="" />
            </a>
          </div>   
      
          <div class="col-sm-10">
            <a class="photo-zoom" href="images/clinic_07.jpeg">
              <img src="images/clinic_07.jpeg" alt="" />
            </a>
          </div>   
      
          <div class="col-sm-2">
            <a class="photo-zoom" href="images/clinic_08.jpeg">
              <img src="images/clinic_08.jpeg" alt="" />
            </a>
          </div>
      
          <div class="col-sm-5">
            <a class="photo-zoom" href="images/clinic_09.jpeg">
              <img src="images/clinic_09.jpeg" alt="" />
            </a>
          </div>   
      
          <div class="col-sm-7">
            <a class="photo-zoom" href="images/clinic_10.jpeg">
              <img src="images/clinic_10.jpeg" alt="" />
            </a>
          </div>
      
      
        </div>
    </section>
    <hr class="featurette-divider">


    <%- include("reviewCarousel"); -%> 

    


    <%- include("footer"); -%>