<%- include("header"); -%>

<section class="container">
    <div class="row">
        <div class="col-6 clinic-photo">
            <img src="images/mahima_01.jpeg" alt="">
        </div>
        <div class="col-6 clinic-text">
            <h1>DR MAHIMA YADAV</h1>
            <p>
                Dr Mahima Yadav is a dentist with 6 years of experience in this field. Her chosen specialty is Pain-free
                Single-sitting Root canal treatment. This is only exceeded by her expertise in cosmetic dentistry.
                Dr Mahima Yadav is the most sought after cosmetic dentist in Dwarka for Dental Veneers, Digital Smile
                Makeover and 3D Smile Design. Her referral patients for Smile makeovers within Dwarka alone exceed
                hundreds of successfully completed cases.
                She is equally exceptional at the most complex as well as the routine dental procedures. Her hidden
                skills lie in completing Complex Surgical Extractions, Wisdom Tooth Surgeries and Single Sitting Root
                Canals with pain free ease in a jiffy.
                She has previously worked in a corporate dental chain for many years, gathering experience for smooth,
                hassle-free dental treatment for all her patients. In her spare time, she also does consultations in
                neighboring dental clinics and hospitals in Delhi and NCR.
                She spends most of her day following the hectic clinic OPD and her free time with her toddler son,
                exploring new exotic recipes and spending quality family time together.

            </p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-6 clinic-photo">
            <img src="images/tushita_01.jpg" alt="">
        </div>
        <div class="col-6 clinic-text">
            <h1>DR TUSHITA SINGH</h1>
            <p>
                Dr Tushita Singh is an Orthodontist with an experience of 11 years in this field. She specializes in
                invisible braces for adults. She is a Certified Invisalign Provider as well. Along with this she is also
                a competent general dentist, handling all general procedures including root canal, crowns, extraction
                etc.
                She has worked in many prestigious hospitals in Delhi NCR including Manipal Hospital (Dwarka), Holy
                Angels Hospital (Vasant Vihar), B L Kapoor Hospital (Karol Bagh), Max hospital (Noida), Fortis Hospital,
                Columbia Asia Hospital (Palam Vihar) and has been a visiting consultant in numerous private clinics and
                dispensaries, as well as dividing her time between her private practice in Dwarka and Gurgaon. She is
                trained in conventional and Self ligating braces, as well as handling complex surgical cases needing jaw
                alignment.
                She has travelled to 19 countries and still counting. She uses her love for travel to interact with
                International dentists of all countries, and sharing her knowledge while bringing back their knowledge
                too. She is a qualified scuba diving trainer and has enjoyed many adventure sports such as sky diving,
                kayaking, paragliding and rock climbing; and encourages her patients to take a similar approach to a
                healthy lifestyle.

            </p>
        </div>
    </div>
</section>

    <%- include("footer"); -%>