<div class="review-row">
    <div class="carousel-wrapper">
      <div class="container">
        <h2 class="review-title">Success Stories</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.</p>
        </div>
        
        <div class="container-fluid review-carousel">
          <div class="success-carousel owl-carousel owl-theme">
            <div class="item review-card">
              <div class="review-text">
                <h4>Name</h4>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. 
                </p>
                <ul class="fa-ul">
                  <li><i class="fas fa-check"></i> Treatment 1</li>
                  <li><i class="fas fa-check"></i> Treatment 2</li>
                  <li><i class="fas fa-check"></i> Treatment 3</li>
                </ul>  
              </div>
              <div class="review-img before-img image-wrapper">
                <img height= "300px" src="images\review1_1.jpg">
                <h5>Before</h5> 
              </div>
              <div class="review-img after-img image-wrapper"> 
                <img src="images\review1_2.jpg">
                <h5 style="color: white;">After</h5> 
              </div>
              
              
            </div>
            
            <div class="item review-card">
              <div class="review-text">
                <h4>Name</h4>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. 
                </p>
                <ul class="fa-ul">
                  <li><i class="fas fa-check"></i> Treatment 1</li>
                  <li><i class="fas fa-check"></i> Treatment 2</li>
                  <li><i class="fas fa-check"></i> Treatment 3</li>
                </ul>  
              </div>
              <div class="review-img before-img image-wrapper">
                <img height= "300px" src="images\review2_1.jpg">
                <h5>Before</h5> 
              </div>
              <div class="review-img after-img image-wrapper"> 
                <img src="images\review2_2.jpg">
                <h5 style="color: white;">After</h5> 
              </div>
            </div>

            <div class="item review-card">
              <div class="review-text">
                <h4>Name</h4>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. 
                </p>
                <ul class="fa-ul">
                  <li><i class="fas fa-check"></i> Treatment 1</li>
                  <li><i class="fas fa-check"></i> Treatment 2</li>
                  <li><i class="fas fa-check"></i> Treatment 3</li>
                </ul>  
              </div>
              <div class="review-img before-img image-wrapper">
                <img height= "300px" src="images\review3_1.jpg">
                <h5>Before</h5> 
              </div>
              <div class="review-img after-img image-wrapper"> 
                <img src="images\review3_2.jpg">
                <h5 style="color: white;">After</h5> 
              </div>
            </div>

            <div class="item review-card">
              <div class="review-text">
                <h4>Name</h4>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. 
                </p>
                <ul class="fa-ul">
                  <li><i class="fas fa-check"></i> Treatment 1</li>
                  <li><i class="fas fa-check"></i> Treatment 2</li>
                  <li><i class="fas fa-check"></i> Treatment 3</li>
                </ul>  
              </div>
              <div class="review-img before-img image-wrapper">
                <img height= "300px" src="images\review4_1.jpg">
                <h5>Before</h5> 
              </div>
              <div class="review-img after-img image-wrapper"> 
                <img src="images\review4_2.jpg">
                <h5 style="color: white;">After</h5> 
              </div>
            </div> 

            <div class="item review-card">
              <div class="review-text">
                <h4>Name</h4>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. 
                </p>
                <ul class="fa-ul">
                  <li><i class="fas fa-check"></i> Treatment 1</li>
                  <li><i class="fas fa-check"></i> Treatment 2</li>
                  <li><i class="fas fa-check"></i> Treatment 3</li>
                </ul>  
              </div>
              <div class="review-img before-img image-wrapper">
                <img height= "300px" src="images\review5_1.jpg">
                <h5>Before</h5> 
              </div>
              <div class="review-img after-img image-wrapper"> 
                <img src="images\review5_2.jpg">
                <h5 style="color: white;">After</h5> 
              </div>
            </div>

        </div>
      </div>
    </div>

  </div>
