<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appointmentModal">Book an Appointment Now!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Your Name">
                        <label for="floatingInput"><i class="fas fa-user"></i>Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="number" class="form-control" id="floatingInput" placeholder="1234567890">
                        <label for="floatingInput"><i class="fas fa-phone"></i> Phone Number</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput"><i class="fas fa-envelope"></i> Email address</label>
                    </div>
                    <div class="form-floating">
                        <textarea name="message" id="message" placeholder="yourMessage">
                        <label for="floatingTextArea">Your Message..</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary btn-fd" type="submit">Submit</button>
                    <button class="w-100 btn btn-lg btn-secondary btn-fd" type="submit">Cancel</button>
                    <p class="mt-5 mb-3 text-muted">&copy; Family Dental 2019–2021</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>