<%- include("header"); %> 

<div class="container">
    <div class="row treatment-row d-flex">
        <div>
            
        </div>
        <div>
            
            
        </div>
    </div>


</div>





<%- include("footer"); %> 