.note-editor .dropdown-toggle::after { all: unset; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

 body {
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}


/******************************** backdoor header ************************************/



/******************************** Form Dashboard ************************************/

/*///////////////////////////////////// navbar /////////////////////////////////////*/

