:root{
  --cl-primary-200: #b18abf;
  --cl-primart-400: #b18abf;
}
html {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat";
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
}

a{
  text-decoration: none;
}
p{
  margin: 0;
  padding: 0;
}
i {
  color: #b18abf;
}

.btn{
  color: #b18abf;
  background-color: white;
}
.btn:hover{
  color: #b18abf;

}

.btn-secondary{

}

/******************************** Modal form ************************************/
.modal-dialog {
  height: 100%;
}
.modal-content {
  height: 72%;
}
.success-modal {
  height: max-content;
  font-family: "Raleway";
  font-size: 2.5em;
  line-height: 1.5;
  color: #777676;
}


input[type="text"] {
  color: #fac20b !important;
  margin-bottom: 20px;
}
input[type="tel"] {
  color: #fac20b !important;
  margin-bottom: 20px;

}
input[type="email"] {
  color: #fac20b !important;
  margin-bottom: 50px;

}

textarea {
  height: 150px !important;
  margin-bottom: 10px;

  color: #fac20b !important;
}

.form-floating i.fa-check-circle, .form-floating i.fa-exclamation-circle{
  visibility: hidden;
  position: absolute;
  bottom:50px;
  right:50px;
}


.form-floating small{
  visibility: hidden;
  position: absolute;
}

.form-floating.success input{
  border-color: #2ecc71;
}

.form-floating.error input{
  border-color: #e74c3c;
}
.form-floating.success i.fa-check-circle{
  visibility: visible;
  z-index: 2;
  background-color: white;
  color: #2ecc71; 
}

.form-floating.error i.fa-exclamation-circle{
  visibility: visible;
  z-index: 2;
  background-color: white;
  color: #e74c3c;
}

.form-floating.error small{
  color: #e74c3c;
  top: 5%;
  left:2%;
  visibility: visible;
}

.btn-shift {
  position: relative;
  z-index: 10000;
  bottom: 10px;
  left: 10px;
}

.modal-title {
  border: 0;
  font-size: 2.2em;
  text-transform: uppercase;
  color: #fac20b;
}

.modal-header,
.modal-conent,
.modal-footer {
  border: 0;
}
.submit-btn {
  background-color: #b18abf;
  color: white;
  border-color: #b18abf;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.submit-btn:hover {
  background-color: #fff;
  color: #faba59;
  border-color: #b18abf;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.cancel-btn {
  color: #777676;
  background-color: transparent;
  border: 0;
}
.cancel-btn:hover {
  color: #b074e7;
  background-color: transparent;
  border: 0;
}

/*|||||||||||||||||||||||| top info bar ||||||||||||||||||||||||||*/

.info-bar {
  box-sizing: border-box;
  padding: 10px 10px;
  padding-left: 6.1%;
  padding-right: 6.1%;
  font-size: 1em;
  color: rgb(94, 91, 91);;
}
p span {
  color: #faba0b;
  font-weight: 600;
}
p > i {
  color: #b18abf;
}
p a {
  color: rgb(94, 91, 91);
  text-decoration: none;
  font-weight: 500;
}
.phone {
  color: #faba0b;

  font-weight: 600;
}
.horizontal-rule {
  border: dotted #b18abf 6px;
  border-bottom: none;
  padding: 0;
  margin: 0;
}

/*|||||||||||||||||||||||| fixed nav bar ||||||||||||||||||||||||||*/
.navbar-brand {
  margin: 0;
  padding: 0;
  width: fit-content;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.brand-name {
  height: fit-content;
  font-size: 1.5em;
  font-weight: normal;
  color: black;
}
.brand-name bold {
  color: #b18abf;
  font-weight: bolder;
}

.nav-link active {
  color: #faba0b;
}

.nav-custom {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.1em;
}
.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}


.head-icon:hover {
  color: #c78ddb;
}
.nav-hover:hover {
  color: #ffd902;
  background-color: #838383;
  border-radius: 4px;
}
.btn-outline-success {
  color: #b18abf;
  border-color: #b18abf;
}
.fd-btn {
  color: #b18abf;
  border-color: #b18abf;
}
.fd-btn:hover {
  color: #ffd900;
  background-color: #b18abf;
  border-color: #b18abf;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
/* ============ small devices .end// ============ */

/*|||||||||||||||||||||||| maps ||||||||||||||||||||||||||*/

#map {
  width: 100%;
  height: 400px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  text-align: center;
  align-items: center;
  left: 50%;
  right: 50%;
  height: 350px;
  width: 450px;
}
.mapouter {
  position: relative;
  left: auto;
  right: auto;
  text-align: center;
  align-items: center;
  height: 350px;
  width: 450px;
}

/*|||||||||||||||||||||||| home hero ||||||||||||||||||||||||||*/

.circle {
  height: 15px !important;
  width: 15px !important;
  border-radius: 50% !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.carousel1-img {
  position: relative;
  min-width: 100%;
  height: 45rem;
  background-image: linear-gradient(
      to bottom,
      rgba(142, 93, 159, 0.651),
      rgba(177, 138, 191, 0)
    ),
    url("../images/carousel4_set.jpg");
  background-size: cover;
}

.carousel2-img {
  position: relative;
  min-width: 100%;
  height: 45rem;
  background-image: linear-gradient(
      to bottom,
      rgba(142, 93, 159, 0.651),
      rgba(177, 138, 191, 0)
    ),
    url("../images/carousel1_set.jpg");
  background-size: cover;
}

.carousel3-img {
  position: relative;
  min-width: 100%;
  height: 45rem;
  background-image: linear-gradient(
      to bottom,
      rgba(142, 93, 159, 0.651),
      rgba(177, 138, 191, 0)
    ),
    url("../images/carousel2_set.jpg");
  background-size: cover;
}

/*|||||||||||||||||||||||| floating appointment btn ||||||||||||||||||||||||||*/
.floating-card {
  border-radius: 0;
  text-align: center;
  position: absolute;
  right: 10%;
  bottom: -10%;
  box-shadow: 0 50px 100px 20px rgba(0, 0, 0, 0.651);
}

.first-col {
  box-shadow: -10px 0 100px 20px;
}

/*|||||||||||||||||||||||| cards styles ||||||||||||||||||||||||||*/

.card {
  color: rgb(230, 230, 230);
  border: none;
  transition-duration: 200ms;
  transition-property: transform;
  transition-timing-function: ease-in;
}
.card:hover {
  color: #fff;
  transform: translateY(-6%);
  z-index: 4;
}
.card-icon {
  filter: brightness(0) invert(1);

  padding: 30px;
}
.card-title {
  text-transform: uppercase;
}
.card-footer {
  border: 0;
}
.card-color_1 {
  background-color: #e49ab0;
}
.card-color_2 {
  background-color: #d87daa;
}
.card-color_3 {
  background-color: #e270c0;
}
.card-color_4 {
  background-color: #e274dd;
}
.card-color_5 {
  background-color: #d46eee;
}
.card-color_6 {
  background-color: #b074e7;
}

/*|||||||||||||||||||||||| cards styles ||||||||||||||||||||||||||*/

.appoint-btn-col {
  text-align: center;
  align-items: center;
}

.appoint-btn {
  font-size: 1.3rem;
  border-color: #b18abf;
  color: #b18abf;
}

.appoint-btn:hover {
  color: #ffd900;
  background-color: #b18abf;
  border-color: #b18abf;
}

/*|||||||||||||||||||||||| reviews styles ||||||||||||||||||||||||||*/

.review-row {
  color: white;
  background-color: #b18abf;
  margin: 50px auto 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.image-wrapper {
  background-color: white;
  padding: 15px;
  padding-bottom: 0px;
}

.image-wrapper h5 {
  padding: 10px;
  color: #b18abf;
}

.carousel-wrapper {
  width: 75%;
}

.review-carousel {
  margin: 50px auto 50px auto;
}

.review-card {
  border-radius: 25px;
  background-color: white;
  padding: 2%;
  display: flex;
  /* width: 1000px; */
  justify-content: center;
  align-items: center;
  margin: 20px auto 20px auto;
}
.star {
  display: inline-block !important;
  color: white;
  margin: 1px;
}

.review-text {
  color: #b18abf;
  width: 70%;
  text-align: justify;
  padding: 2% 5% 1% 2%;
}
.review-text > h4 {
  padding-bottom: 10%;
}

.review-img {
  width: 50%;
  border: #bdbdbd solid 50px 50px 100px 50px;
}
.before-img {
  background-color: #dddddd;
}
.after-img {
  background-color: #aaa9a9;
  color: white;
  width: 65%;
}
.fa-ul {
  text-align: left;
  list-style-type: none;
  list-style-position: initial;
  padding-top: 5%;
  margin: 0 !important;
}
.fa-ul > i {
  margin-right: 25px;
  color: #fac20b;
}

/*|||||||||||||||||||||||| testimonial styles ||||||||||||||||||||||||||*/

.test-row {
  margin: 50px auto 50px auto;
}

.test-carousel {
  margin: 50px auto 50px auto;
}

.test-card {
  display: flex;
  width: 400px;
  margin: 20px;
}

.test-img-area {
  float: left;
  padding: 5px 10px 5px 10px;
  position: relative;
  background-color: white;
  align-items: stretch;
}
.test-img-area img {
  width: 75px !important;
  height: 75px;
  position: relative;
  top: 10%;
  border-radius: 50%;
  border: #faba0b solid 3px;
}

.test-text {
  border-radius: 6%;
  background-color: #b18abf;
  padding: 9% 25px 9% 25px;
}
.test-text p {
  text-align: left;
  font-size: 0.85rem;
  color: #ffffff;
}

.test-text h4 {
  text-align: left;
  font-size: 1.2rem;
  color: #ffd54b;
}
.quote {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  color: #b18abf91;
  position: relative;
  display: inline;
  bottom: 100px;
  right: 7%;
  z-index: -1;
}

/*|||||||||||||||||||||||| back to top btn styles ||||||||||||||||||||||||||*/
.back-to-top {
  color: aliceblue;
  position: relative;
  right: 23%;
  bottom: 19%;
}
.back-to-top-btn {
  position: fixed;
  height: 200px;
  width: 200px;
  right: -100px;
  bottom: -100px;
  background-color: rgb(221, 159, 241, 0.85);
  border-radius: 50%;
  z-index: 10;
}
.back-to-top-btn:hover {
  background-color: rgb(221, 159, 241);
  color: rgba(255, 255, 225);
}

.show {
  visibility: visible;
  opacity: 1;
}
.hide {
  visibility: hidden;
  opacity: 0;
}

/**/
.btn-hide{
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.fade{
  -webkit-transition: all 0.3s linear !important;
  -o-transition: all 0.3s linear !important;
  transition: all 0.3s linear !important;
}

/* .fade.out{
  -webkit-transition: all 0.3s linear !important;
  -o-transition: all 0.2s linear !important;
  transition: all 0.2s linear !important;
} */
/**/

/*|||||||||||||||||||||||| top bar styles ||||||||||||||||||||||||||*/



.appoint-text-col {
  text-align: left;
  width: fit-content;
}

.call-for-action-btn {
  font-size: 1.4rem;
  color: #b18abf;
  border-color: #b18abf;
}
.call-for-action-btn:hover {
  color: #ffd900;
  background-color: #b18abf;
  border-color: #b18abf;
}

/*|||||||||||||||||||||||| footer styles ||||||||||||||||||||||||||*/
iframe{
  height: 250px;
  width: 350px;
}
@media screen and (min-width: 620px) {
  iframe{
    height: 300px;
    width: 400px;
  }
}

@media screen and (min-width: 960px) {
  iframe{
    height: 350px;
    width: 450px;
  }
}

.map-head {
  text-align: center;
  align-items: center;
}

.map-col {
  padding-left: 40px;
  padding-right: 40px;
  width: fit-content;
}
.col-title {
  text-transform: uppercase;
  padding-top: 2%;
  padding-bottom: 2%;
}
.contact-col {
  padding-left: 40px;
  padding-right: 40px;
  color: #f1f1f1;
  width: max-content;
  background-color: #b18abf;
  line-height: 2;
}
.contact-container {
  position: relative;
  top: 17%;
  text-align: left;
}
.footer-time {
  color: #f1f1f1;
  font-weight: 500;
}
.foot-icon {
  color: #fac20b;
}
.foot-icon:hover {
  color: #ffd54b;
}
.contact-list {
  padding: 0;
  list-style-type: none;
}
.contact-list > li > a {
  text-decoration: none;
  color: white;
}

.socials-list {
  padding: 0;
  list-style-type: none;
}
.socials-list > li {
  display: inline-block;
}

.social {
  padding-left: 10px;
  padding-right: 10px;
}

.addr-col {
  padding-left: 40px;
  padding-right: 40px;
  color: rgb(94, 91, 91);
  width: max-content;
  line-height: 2;
}
.addr-container {
  position: relative;
  top: 28%;
  text-align: left;
}

.foot {
  padding: 10px auto 10px auto;
  background-color: rgb(211, 211, 211);
  color: rgb(94, 91, 91);
}
.foot > p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 2;
  font-weight: 500;
}

/********************************** Blog ***********************************/

/* stylelint-disable selector-list-comma-newline-after */
.blog-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-head{
  margin: 0 10%;
  text-align: justify;
}

.sidebar{
  padding: 20px 100px 0 175px;
}

.blog-tile{
  padding: 1%;
}

.bg-fd {
  background-color: #b18abf;
}
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.card{
  box-sizing: border-box !important; 
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}
.blog-tile {
  padding-left: 75px;
  padding-right: 75px;
}
/*
   * Blog posts
   */

.blog-grid{
  padding: 0 0 0 10%;
}
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
.justify-text, .list-unstyled{
  text-align: justify;
}
a{
  text-decoration: none;
}
.list-unstyled{
  color: #727272;
}

/******************************About Us styles***********************************/

/*/////////////////////////////Our Clinic///////////////////////////////////////*/

.clinic-photo {
  margin: auto auto;
  text-align: center;
  vertical-align: center;
}
.clinic-photo img {
  width: 100%;
  /* padding: 100px 50px 100px 50px; */
}
.clinic-text {
  padding-top: 90px;
  text-align: justify;
}
.album-container {
  height: 400px;
}
.album-container .col-3 {
  width: 300px;
}
.album-container img {
  height: fit-content;
}

/*///////////////////////////////Album/////////////////////////////*/

.container--gallery {
  margin-top: 40px;
  margin-bottom: 40px;
}
.container--gallery .row {
  margin-left: -1px;
  margin-right: -1px;
}
.container--gallery [class*="col-"] {
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 2px;
}
.photo-zoom {
  outline: 0;
  overflow: hidden;
  position: relative;
  display: block;
  height: 230px;
}
.photo-zoom img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
[class*="-1"]:not([class*="-10"]):not([class*="-11"]):not([class*="-12"])
  .photo-zoom
  img,
[class*="-2"] .photo-zoom img,
[class*="-3"] .photo-zoom img {
  width: auto;
  height: 100%;
}
.image-source-link {
  color: #98c3d1;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 230ms ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/*/////////////////////////////Our Doctors///////////////////////////////////////*/

.photo-desc {
  padding: 0 !important;
  margin: 0;
  font-size: small;
}
.doc-row {
  margin: 7% auto;
}
.doc-text {
  text-align: justify;
}
.doc-wrapper {
  margin: auto auto;
}

/******************************Implants styles***********************************/

.implant-section{
  margin: 4% auto 4% auto;
  padding: 10px 15px 10px 15px;
  border: #f2f2f2 solid 1px;
  box-shadow: 0px 0px 10px 10px #f2f2f2;
}

/*/////////////////////////////hero///////////////////////////////////////*/

.hero-row{
  padding: 20px 0px 50px 0px;
  
}
.hero-row > p{
  text-align: justify;
  margin: 2% auto;
  padding: 0 5%;
}

.hero-row h1{
  margin: 10px auto;
}

/*/////////////////////////////types///////////////////////////////////////*/

.implant-type-row{
  margin: 4% auto 0px auto;
}

.implant-types{
  list-style-type: none;
  padding: 30px;
}

.type-list > li{
  margin: 50px;
}

.type-list > li:last-child{
  margin-bottom: 0;
}

.type-row{
  padding: 10px 15px 10px 15px;
  border: #f2f2f2 solid 1px;
  box-shadow: 0px 0px 5px 5px #f2f2f2;
}
/*/////////////////////////////FAQ///////////////////////////////////////*/



.faq-section{
  padding: 50px 50px 50px 50px;

}
.faq-section > h1{
  margin: 0% auto 3% auto;
}

.x-accordion-heading .x-accordion-toggle {
  color: #aaaaaa;
  background-color: #b18abf;
}
.accordion-button:active{
  color: #b18abf;
  background-color: #b18abf7c;
}
.accordion-button:not(.collapsed) {
  color: #b18abf;
  background-color: #b18abf17;
}

.accordion-button:focus{
  border-color: #b18abf83;
  box-shadow:  0 0 0.25rem #b18abf83;
}

.accordion-button:not(.collapsed)::after{
  filter: grayscale( );
}

.accordion-body{
  text-align: justify;
}

/******************************Invisilign styles***********************************/

.link-style{
  text-decoration: none;
  color: #b18abf;
  font-weight: 500;
}
.link-style:hover{
  text-decoration: none;
  color: #9566a7;
  font-weight: 500;
}

/******************************treatment styles***********************************/

/*/////////////////////////////periodontics///////////////////////////////////////*/

/* before-after section */

.before-after{
  padding: 50px;
}

/*/////////////////////////////orthodontics///////////////////////////////////////*/
.fa-ul-treatment {
  font-size: small;
  text-align: left;
  list-style-type: none;
  list-style-position: initial;
  padding-top: 1%;

}
