<%- include("./partials/header"); -%>

<div class="container welcome-img">
  <div class="carousel-caption caption1 text-start text-sm-end d-inline-block ">
    <h1 class="display-1 align-text-top">Family Dental</h1>
    <p class="lead align-text-top">A braces and multispeciality Clinic</p>
  </div>
</div>



  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->


  <!-- six columns of text below the carousel -->

  <div class="row justify-content-center my-4 mx-1">
    <div class="card card-color_1 col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images/whiten.png" class="mx-auto card-icon" alt="..." width="160" height="160" style="padding: 10px;"
        aria-label="whittening icon">
      <div class="card-body">
        <h5 class="card-title">cosmetic Dentistry</h5>
        <p class="card-text">You can enhance or beautify your smile by changing the shape, color, size and total
          appearance of your teeth and the cosmetic dental procedures like aesthetic filling, veneers, bleaching,
          aesthetic crown, crown lengthening help you get your dream smile.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#cosmetic-dentistry" type="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card card-color_2 col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images/implant.png" class="mx-auto card-icon" alt="..." width="160" height="160" style="padding: 10px;"
        aria-label="implant icon">
      <div class="card-body" style="border-radius: 5px;">
        <h5 class="card-title ">Implants</h5>
        <p class="card-text">Dental implant is an artificial tooth root, placed in bone by minor surgery cap is also
          placed to make it functional. Best solution to replace missing teeth.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#prosthodontics" type="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card card-color_3 col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images/braces.png" class="mx-auto card-icon" alt="..." width="160" height="160" style="padding: 10px;"
        aria-label="braces picture">
      <div class="card-body">
        <h5 class="card-title">Braces</h5>
        <p class="card-text">To correct the alignment of crooked, gapped teeth the braces are placed. Braces are the set
          of wire and brackets. There are many types of braces depending on aesthetics and comfort.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#orthodontics" type="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card card-color_4 col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images\caries.png" class="mx-auto card-icon" alt="..." width="160" height="160" style="padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Caries</h5>
        <p class="card-text">The cavity starts when the teeth are not cleaned properly. The bacterias invade the food
          lodged and start cavity. At initial level we can cure cavity or caries by doing normal fillings.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#periodontics" type="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card card-color_5 col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images/rct-icon.png" class="mx-auto card-icon" alt="..." width="170" height="170"
        style="padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Root Canal</h5>
        <p class="card-text">Due to severe cavities you develop pain in tooth. To cure that RCT is done by removing
          infected nerves and replacing them with artificial material. Can be done in single sitting as well as multiple
          sittings.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#endodontics" type="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card card-color_6 col-12 col-md-6 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images/pedodentistry.png" class="mx-auto card-icon" alt="..." width="170" height="170"
        style="padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Pedodontics</h5>
        <p class="card-text">Children also require periodic checkups, because milk teeth require equal care and
          treatment as compared to permanent teeth. To keep your permanent teeth healthy the key is to keep your milk
          teeth healthy and cavity free.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#pedodontics" type="button">View details &raquo;</a>
      </div>
    </div>
  </div>




  <!-- call to action -->
  <div class="row justify-content-center align-items-center my-3 py-3 w-100">
    <div class="col-lg-4 text-center text-lg-start py-3">
      <h2 class="col-title px-4">MAKE AN APPOINTMENT NOW</h2>
      <p class="px-4">
        All staff members of Dental Clinic are licensed professionals. Our staff consists of licensed general dentists.
      </p>
    </div>
    <div class="col-lg-4 text-center text-lg-end">
      <button type="button" class="btn btn-outline-light call-for-action-btn text-center" data-bs-toggle="modal"
        data-bs-target="#appointmentModal">
        + Book Appointment
      </button>
    </div>
  </div>

  <hr class="p-0 m-0">


  <!-- Review Carousel -->

  <!-- %- include("./partials/reviewCarousel"); -%> -->

  <!-- Testimonials -->

  <%- include("./partials/testCarousel"); -%>

  <!-- START THE FEATURETTES -->

  <hr class="p-0 m-0">

  <!-- FOOTER -->

  <%- include("./partials/footer"); -%>