<%- include("./partials/header"); -%>

  <div id="myCarousel" class="carousel slide carousel-bg" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active circle" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="circle"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" class="circle"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active carousel1-img">
        <!-- <img src="images/carousel1.jpeg" class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true"> -->
        <div class="container">
          <div class="carousel-caption caption1 text-start text-sm-end d-inline-block ">
            <h1 class="display-1 align-text-top">Family Dental</h1>
            <p class="lead align-text-top">A braces and multispeciality Clinic</p>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel2-img">
        <!-- <img src="images/carousel2.jpeg" class="bd-placeholder-img" width="100%" height="100%"  aria-hidden="true"> -->

        <div class="container">
          <div class="carousel-caption caption2">
            <p class="align-text-center display-4">Creating beautiful and brighter smiles.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item carousel3-img">
        <!-- <img src="images/carousel1.jpeg" class="bd-placeholder-img" width="100%" height="100%" aria-hidden="true"> -->
        <div class="container align-items-center ">
          <div class="carousel-caption caption3 display-4">
            <p>Ensuring smiles at affordable prices.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->


  <!-- six columns of text below the carousel -->

  <div class="row justify-content-center my-4 mx-1">
    <div class="card card-color_1 col-12 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images/whiten.png" class="mx-auto card-icon" alt="..." width="160" height="160"
        aria-label="whittening icon">
      <div class="card-body">
        <h5 class="card-title">cosmetic Dentistry</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#cosmetic-dentistry" type="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card card-color_2 col-12 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images/implant.png" class="mx-auto card-icon" alt="..." width="160" height="160"
        aria-label="implant icon">
      <div class="card-body" style="border-radius: 5px;">
        <h5 class="card-title ">Implants</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#prosthodontics" type="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card card-color_3 col-12 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images/braces.png" class="mx-auto card-icon " alt="..." width="160" height="160"
        aria-label="braces picture">
      <div class="card-body">
        <h5 class="card-title">Braces</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#orthodontics" type="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card card-color_4 col-12 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images\caries.png" class="mx-auto card-icon" alt="..." width="160" height="160">
      <div class="card-body">
        <h5 class="card-title">Caries</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#periodontics" type="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card card-color_5 col-12 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images/rct-icon.png" class="mx-auto card-icon" alt="..." width="170" height="170" style="padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Root Canal</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#endodontics" type="button">View details &raquo;</a>
      </div>
    </div>
    <div class="card card-color_6 col-12 col-lg-6 col-xl-4 col-xxl-2">
      <img src="images/pedodentistry.png" class="mx-auto card-icon" alt="..." width="170" height="170" style="padding: 10px;">
      <div class="card-body">
        <h5 class="card-title">Pedodontics</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-secondary" href="/treatments#pedodontics" type="button">View details &raquo;</a>
      </div>
    </div>
  </div>




  <!-- call to action -->
  <div class="row justify-content-center align-items-center my-3 py-3 w-100">
    <div class="col-lg-4 text-center text-lg-start py-3">
      <h2 class="col-title px-4">MAKE AN APPOINTMENT NOW</h2>
      <p class="px-4">
        All staff members of Dental Clinic are licensed professionals. Our staff consists of licensed general dentists.
      </p>
    </div>
    <div class="col-lg-4 text-center text-lg-end">
        <button type="button" class="btn btn-outline-light call-for-action-btn text-center" data-bs-toggle="modal"
          data-bs-target="#appointmentModal">
          + Book Appointment
        </button>
    </div>
  </div>

  <hr class="p-0 m-0">

 <div class="row container-fluid m-0 p-0 w-100">
    <div class="col-12 p-5" style="background-color: #b18abf;">
      <h1 class="display-2" style="color: rgb(252, 248, 244);">Reviews, Testimonials and Blogs Coming Soon...</h1>
    </div>
  </div>

  <!-- Review Carousel -->

  <!-- %- include("./partials/reviewCarousel"); -%> -->

  <!-- Testimonials -->

  <!-- %- include("./partials/testCarousel"); -%> -->

  <!-- START THE FEATURETTES -->

  <hr class="p-0 m-0">

  <!-- FOOTER -->

  <%- include("./partials/footer"); -%>