<%- include("./partials/header"); -%>


    <main class="container implant-section">
        <div class="row hero-row">
            <div class="col-sm-6 ">
                <section class="container container--gallery">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="photo-zoom" href="images/invisalign1.png">
                                <img src="images/invisalign1.png" alt="" />
                            </a>
                        </div>

                        <div class="col-sm-6">
                            <a class="photo-zoom" href="images/invisalign2.png">
                                <img src="images/invisalign2.png" alt="" />
                            </a>
                        </div>

                        <div class="col-sm-12">
                            <a class="photo-zoom" href="images/invisalign3.png">
                                <img src="images/invisalign3.png" alt="" />
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-6 hero-row">


                <h1>
                    WHAT IS A INVISALIGN?
                </h1>
                <p>
                    Invisalign or any Clear aligners are an orthodontic device that is a transparent plastic form of
                    braces. For patients needing fast correction of smile on the go, and unable to visit the
                    Orthodontist regularly, unable to wear braces due to their professional or social concerns, this is
                    the best and most reliable option. <a href="/ourDoctors#tushita" class="link-style">Dr Tushita
                        Singh</a> is a Certified <strong style="color: #fac20b;">Gold</strong>
                    Invisalign Specialist with more
                    than 10 years of experience in Braces for adults and has finished hundreds of cases with perfection.
                    She is also well trained in other aligner systems similar to Invisalign providing good results.
                </p>
            </div>

            <hr class="featurette-divider">

            <section>

                <div class="faq-section">
                    <h1>
                        FAQ's
                    </h1>
                    <div class="accordion accordion-flush" id="faqAccordian">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    What issues demand getting aligners?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#faqAccordian">
                                <div class="accordion-body">Teeth issues like gaps between teeth, overlapping teeth,
                                    forwardly placed teeth can be easily corrected without extractions.

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    How are aligners better than braces?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#faqAccordian">
                                <div class="accordion-body">Aligners are completely invisible and can be easily inserted
                                    and removed by the patient. Also regular visits and tightening by a doctor is not
                                    required. Aligners work for teens and adults both.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    Are there any eating restrictions with aligners?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#faqAccordian">
                                <div class="accordion-body">there are no eating restrictions with aligners.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    What is the process of aligner treatment?
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFour" data-bs-parent="#faqAccordian">
                                <div class="accordion-body">A meeting with the doctor is fixed for impressions, photos
                                    and scan of teeth, then the doctor works on back end and makes an animated video of
                                    before and after corrections of teeth, this is customizable based on patients
                                    requirement. The final video is shared with patient for the viewing, this is done
                                    over mail hence patient presence is not necessary, the final video is approved and
                                    aligner sets are manufactured.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                    The Patient has to be available inorder to get an aligner?
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFive" data-bs-parent="#faqAccordian">
                                <div class="accordion-body">If patient is available, they are given the sets and
                                    explained the procedure of wearing them, however if patient is not available, the
                                    aligners are shipped to them directly with instructions of how to wear them. The
                                    doctor also keeps a check on the treatment via WhatsApp or Skype.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <hr class="featurette-divider">

    <%- include("./partials/footer"); -%>