<%- include("./partials/header"); -%>

  <section class="container">
    <div class="row">
      <div class="col-12 col-xl-6 my-auto p-3 pt-5 pt-xxl-1 mt-xxl-5">
        <img src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/clinic_01.webp&q=80" alt=""
          class="img-fluid img-thumbnail">
      </div>
      <div class="col-12 col-xl-6 clinic-text px-3 py-5 pt-4">
        <h1>About Our Clinic</h1>
        <p>
          Dr Mahima Yadav and Dr Tushita Singh met while working at a corporate dental chain in Dwarka. After working
          together for more than 5 years they realised their affinity towards quality dental practice, their ethical
          views and the huge gap in Dwarka area for a high-end dental practice focused on esthetics and smile
          engineering. Thus took birth the idea of Family Dental, focused on providing dental care for each memeber of
          the family, painless treatment for the kids, esthetics for the young ones, smile designing and dazzling for
          young brides and grooms, replacing missing teeth for our seniors, and so on. The clinic houses dental
          solutions for each member of the family, all at an affordable cost. The doctors are focused on providing a
          comfortable, at home environment at the clinic, with light jazz playing in the backgrouond and a flourishing
          personal library of the doctors' own fiction novels, with evenings wrapped in a root canal sessions mixed with
          a story discussion of the latest addition by one of the patients. The clinic is very well accepted in the
          local Dwarka community and very well involved in local social activities such as dental camps for the needy as
          well. The doctors are friendly and amicable, the practice is mostly refferal based as both Dr Mahima and Dr
          Tushita create a lasting impression on all thier patients.
        </p>
      </div>
    </div>
  </section>
  <hr class=" class=" featurette-divider"">
  <section class="container container--gallery">
    <div class="row">
      <div>
        <h1>Clinic Album</h1>
      </div>

      <div class="gg-container">
        <h3>Take a glance at our amazing clinic</h3>
        <div class="gg-box" id="horizontal">
          <!--
            https://images.weserv.nl/?url=https://familydentaldwarka.in/images/pedodentistry.webp&q=80
          -->
          <img src=" https://images.weserv.nl/?url=https://familydentaldwarka.in/images/clinic_02.webp&q=80">
          <img src=" https://images.weserv.nl/?url=https://familydentaldwarka.in/images/clinic_03.webp&q=80">
          <img src=" https://images.weserv.nl/?url=https://familydentaldwarka.in/images/clinic_04.webp&q=80">
          <img src=" https://images.weserv.nl/?url=https://familydentaldwarka.in/images/clinic_05.webp&q=80">
          <img src=" https://images.weserv.nl/?url=https://familydentaldwarka.in/images/clinic_06.webp&q=80">
          <img src=" https://images.weserv.nl/?url=https://familydentaldwarka.in/images/clinic_07.webp&q=80">
          <img src=" https://images.weserv.nl/?url=https://familydentaldwarka.in/images/clinic_08.webp&q=80">
          <img src=" https://images.weserv.nl/?url=https://familydentaldwarka.in/images/clinic_09.webp&q=80">
          <img src=" https://images.weserv.nl/?url=https://familydentaldwarka.in/images/clinic_10.webp&q=80">
        </div>
      </div>
    </div>
  </section>
  <hr class="p-0 m-5">

  <hr class="p-0 m-0">

  <%- include("./partials/footer"); -%>