<%- include("./partials/header"); -%>

    <section class="container">

        <div class="p-4 p-md-5 mb-4 text-white rounded bg-fd">
            <div class="col-md-6 px-0 blog-head">
              <h1 class="display-4 fst-italic">Best Dental Technology in Dwarka</h1>
              <p class="lead my-3"> Family Dental Clinic prides itself on being the most high-tech dental practice in Dwarka. Our
                commitment to cutting-edge technology means we continually grow our practice with new equipment and
                dentistry techniques, so our patients receive excellent care and leave feeling great.</p>
            </div>
        </div>

        <hr class="p-0 m-0">
        <div class="row my-4 px-1 w-100">
            <div class="card col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <img src="images/technology/xray.jpg.webp" class="mx-auto " alt="..." width="250" height="250"
                    style="padding: 10px;" aria-label="whittening icon">
                <div class="card-body" style="color: #00011f;">
                    <h5 class="card-title">Digital, Low-Radiation X-Rays</h5>
                    <p class="card-text">Our dental technology eco-friendly, digital x-rays use 80% less radiation than
                        standard film x-rays. For patients who don’t enjoy getting x-rays, the digital sensor is much
                        smaller than that used in film x-rays and lacks sharp edges. These changes make the experience
                        much easier and more pleasant.</p>
                </div>
            </div>

            <div class="card col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
                <img src="images/technology/digital_chart.jpg.webp" class="mx-auto" alt="..." width="250"
                    height="250" style="padding: 10px;" aria-label="whittening icon">
                <div class="card-body" style="color: #00011f;">
                    <h5 class="card-title">Computerized Digital Charts</h5>
                    <p class="card-text">At Family Dental Clinic, we’ve streamlined our charting system, using
                        computerized digital charts. This eliminates lost charts and saves lots of trees by eliminating
                        paper usage. With digital charts your records are safe.</p>
                </div>
            </div>

            <div class="card col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
                <img src="images/technology/3dscan.jpg.webp" class="mx-auto" alt="..." width="250" height="250"
                    style="padding: 10px;" aria-label="whittening icon">
                <div class="card-body" style="color: #00011f;">
                    <h5 class="card-title">3D scan Implant Planning</h5>
                    <p class="card-text">A virtual digital planning of placement of a dental implant in a desired 3D
                        position is precisely facilitated by radiology labs. Family Dental Clinic proudly associates
                        itself with one of such top dental radiology lab in Dwarka.</p>
                </div>
            </div>

            <div class="card col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
                <img src="images/technology/motor.jpg.webp" class="mx-auto" alt="..." width="250" height="250"
                    style="padding: 10px;" aria-label="whittening icon">
                <div class="card-body" style="color: #00011f;">
                    <h5 class="card-title">Motorised and Digitally assisted Root Canal Treatments</h5>
                    <p class="card-text">For precise, painfree and modern root canal treatments at Alveo Dental Clinic,
                        an Apex Locator is the magic wand. It also limits the need of xrays during a RCT.

                        An Endomotor speeds up the process of a RCT promoting use of motorised instruments.</p>
                </div>
            </div>

            <div class="card col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-3">
                <img src="images/technology/laser.jpg.webp" class="mx-auto" alt="..." width="250" height="250"
                    style="padding: 10px;" aria-label="whittening icon">
                <div class="card-body" style="color: #00011f;">
                    <h5 class="card-title">Laser Dentistry</h5>
                    <p class="card-text">Lasers were approved by the FDA in the early 90s and are fast becoming the
                        instrument of choice in a number of dental procedures.

                        Lasers have considerably simplified and improved dental treatment by vaporizing diseased tissue
                        and killing the bacteria that causes the disease. Since there are no strains of bacteria that
                        can resist the laser, you can be certain that your tissues will start to heal.</p>
                </div>
            </div>

        </div>
    </section>
    <hr class="featurette-divider">
    <%- include("./partials/footer"); -%>