<div class="container implant-section">
    <section>
        <div class="row hero-row">
            <h2>
                COSMETIC DENTISTRY
            </h2>
        </div>
    </section>
    <hr class="p-0 m-0">
    <section>
        <div class="row implant-type-row">
            <ul class="implant-types type-list">
                <li class="m-2">
                    <div class="row align-items-center justify-content-center type-row">
                        <div class="col-9">
                            <h4 class="py-3">Zoom Whitening</h4>
                            <p>
                                Zoom whitening technology uses specialized technology to whiten your teeth up to 8
                                shades lighter. It’s a relaxing procedure done within an hour at Dental Centre India
                                where the patient can see miraculous changes in their tooth shades.
                            </p>
                            <p>
                                Zoom whitening is extremely safe and some studies have even shown that it helps in
                                strengthening the enamel.
                            </p>

                            <section class="before-after">
                                <h2>Before And After</h2>
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-12 col-lg-6 image-wrapper before-img">
                                        <img src="images\review7_1.jpg">
                                        <h5>Before</h5>
                                    </div>
                                    <div class="col-12 col-lg-6 image-wrapper after-img" style="width: auto;">
                                        <img src="images\review7_2.jpg">
                                        <h5 style="color: aliceblue;">After</h5>
                                    </div>
                                </div>
                            </section>

                            <div class="faq-section">
                                <h1>
                                    FAQ's
                                </h1>
                                <div class="accordion accordion-flush" id="faqAccordian">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                                How long does Zoom whitening last?
                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingOne" data-bs-parent="#faqAccordian">
                                            <div class="accordion-body">It lasts from 12-24 months but the success of
                                                treatment depends on certain eating habits and avoiding some food groups
                                                that can stain teeth.</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                aria-expanded="false" aria-controls="flush-collapseTwo">
                                                Which foods need to be avoided after Zoom whitening?
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingTwo" data-bs-parent="#faqAccordian">
                                            <div class="accordion-body">One week after whitening, heavily colored foods
                                                and drinks like red wine, black coffee, dark colas, dark teas etc should
                                                be avoided. Smoking is also responsible for staining teeth after
                                                whitening is completed. Even after one week, these things should be
                                                avoided as much as possible to maintain the whiter teeth.</div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                                aria-expanded="false" aria-controls="flush-collapseThree">
                                                Who cannot get Zoom whitening done?
                                            </button>
                                        </h2>
                                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingThree" data-bs-parent="#faqAccordian">
                                            <div class="accordion-body">People with multiple crowns and veneers
                                                especially in the anterior region are not a candidate as the artificial
                                                teeth do not pick up the new shade.</div>
                                        </div>
                                    </div>    
                              </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="m-5">
                    <div class="row d-flex align-items-center justify-content-center type-row">
                        <div class="col-9">
                            <h4 class="py-3">Smile Makeover/Veneers</h4>
                            <p>
                                Veneers are thin tooth colored shells that cover the front surface of a tooth to change
                                its appearance in the desired manner.
                            </p>
                            <p>
                                Veneers show instant smile correction and are the best means of smile makeover in a
                                short span of time.
                            </p>
                            <section class="before-after">
                                <h2>Before And After</h2>
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-12 col-lg-6 image-wrapper before-img">
                                        <img src="images\review8_1.jpg">
                                        <h5>Before</h5>
                                    </div>
                                    <div class="col-12 col-lg-6 image-wrapper after-img" style="width: auto;">
                                        <img src="images\review8_2.jpg">
                                        <h5 style="color: aliceblue;">After</h5>
                                    </div>
                                </div>
                            </section>

                            <div class="faq-section">
                                <h1>
                                    FAQ's
                                </h1>
                                <div class="accordion accordion-flush" id="faqAccordian">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                aria-expanded="false" aria-controls="flush-collapseOne">
                                                What are the differences between crowns and veneers?
                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingOne" data-bs-parent="#faqAccordian">
                                            <div class="accordion-body">
                                                <p>
                                                    Veneers are applied only on front surface of tooth and need minimal grinding of tooth, crowns need grinding of entire tooth in all directions.
                                                </p>
                                                <p>
                                                    Usually Root canal is not necessary for veneer placement unlike in a crown.
                                                </p>
                                                <p>
                                                    It helps in conserving enamel.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                aria-expanded="false" aria-controls="flush-collapseTwo">
                                                In what cases can we use these?
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingTwo" data-bs-parent="#faqAccordian">
                                            <div class="accordion-body">
                                                <p>
                                                    Chipped or broken tooth.
                                                </p>
                                                <p>
                                                    Discolored tooth.
                                                </p>
                                                <p>
                                                    Unusually shaped teeth.
                                                </p>
                                                <p>
                                                    Uneven smile.
                                                </p>
                                                <p>
                                                    Gaps between teeth
                                                </p>
                                                <p>
                                                    Very small teeth size
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row d-flex align-items-center justify-content-center type-row">
                        <div class="col-5">
                            <section class="container container--gallery">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="photo-zoom" href="images/tooth-jewellery1.jpg">
                                            <img src="images/tooth-jewellery1.jpg" alt="" class="img-fluid img-thumbnail"/>
                                        </a>
                                    </div>
                
                                    <div class="col-sm-4">
                                        <a class="photo-zoom" href="images/tooth-jewellery2.jpg">
                                            <img src="images/tooth-jewellery2.jpg" alt="" class="img-fluid img-thumbnail"/>
                                        </a>
                                    </div>

                                </div>
                            </section>

                        </div>
                        <div class="col-7">
                            <h4>Tooth Jewellery</h4>
                            <p>
                                Tooth Jewellery is a small embellishment that is placed on the front surface of teeth. 
                                It lets you sport a customized fashionable smile that is unique only to your taste.

                            </p>
                            <p>
                                This procedure is
                            </p>
                            <ul class="fa-ul-treatment">
                                
                                <li>
                                    <i class="fas fa-tooth"></i> Can be done in single visit
                                </li>
                                <li>
                                    <i class="fas fa-tooth"></i> Painless
                                </li>
                                <li>
                                    <i class="fas fa-tooth"></i> Enhances your smile
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>

                
            </ul>
        </div>
    </section>
    <hr class="featurette-divider">
    <section>

    </section>
</div>
<hr class="featurette-divider">