<div class="container implant-section">
    <section>
        <div class="row hero-row">
            <h1>
                ENDODONTICS
            </h1>
            <div class="row implant-type-row">
                <ul class="implant-types type-list">
                    <li>
                        <div class="row align-items-center justify-content-center type-row">
                            <div class="col-12 col-lg-5 p-2">
                                <img height="250px" src="images\single-sitting-rct.jpg" alt="" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-12 col-lg-7 p-3">
                                <h4>Single sitting Root Canals</h4>
                                <p>
                                    To reduce patient visits, the lengthy procedure of root canal is done in a single
                                    sitting. It is a painless and comfortable process usually done with the help of a
                                    machine.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row align-items-center justify-content-center type-row">

                            <div class="col-12 col-lg-7 p-3">
                                <h4>Multiple sitting Root Canals</h4>
                                <p>
                                    It is the traditional and the best way of doing root canal treatment. The patient
                                    needs to visit twice or thrice for the procedure.
                                </p>
                            </div>

                            <div class="col-12 col-lg-5 p-2">
                                <img height="220px" src="images\dental-implant-bridge.jpg" alt="" class="img-fluid img-thumbnail">
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="row align-items-center justify-content-center type-row">
                            <div class="col-12 col-lg-5 p-2">
                                <img height="250px" src="images\implant-supported-dentures.jpeg" alt="" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-12 col-lg-7 p-3">
                                <h4>Rotary Root Canal Treatment</h4>
                                <p>
                                    This process is usually done with the help of a machine named endomotor. It is
                                    latest technology combined with the international quality medicaments to do the RCT.
                                    It can be single sitting or multiple sitting.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row align-items-center justify-content-center type-row">

                            <div class="col-12 col-lg-7 p-3">
                                <h4>Re-Rct</h4>
                                <p>
                                    Re Root canal treatment is done when you develop infection in the previous RCT or
                                    done when the earlier RCT is faulty.
                                </p>
                            </div>

                            <div class="col-12 col-lg-5 p-2">
                                <img height="220px" src="images\dental-implant-bridge.jpg" alt="" class="img-fluid img-thumbnail">
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="row align-items-center justify-content-center type-row">
                            <div class="col-12 col-lg-5 p-2">
                                <img height="250px" src="images\implant-supported-dentures.jpeg" alt="" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-12 col-lg-7 p-3">
                                <h4>Post and Core</h4>
                                <p>
                                    When the tooth becomes weak or when the tooth structure is very less, the procedure
                                    of post and core is done to give an extra strength to the tooth.
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <hr class="featurette-divider">
    <section>
        <div class="faq-section">
            <h1>
                FAQ's
            </h1>
            <div class="accordion accordion-flush" id="faqAccordian">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Why is single sitting RCT better?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">Single sitting RCT can be done in patients with acute infection and
                            when no pus formation is present. It is painless and saves multiple trips and multiple jabs
                            of anesthesia at the dental clinic.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Why do we need Re-RCT?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">Your dentist may recommend a Re-RCT when the older RCT was not done
                            properly and infection has remained behind. Also if re-infection has taken place in an old
                            RCT, this usually happens when crown is not placed after RCT.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            What exactly is a post?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#faqAccordian">
                        <div class="accordion-body">: Imagine a room with 4 walls and a ceiling, if 1 or more walls has
                            collapsed; it’s not possible to hoist the ceiling over it. Similarly, if 1 or more walls of
                            a tooth have collapsed due to cavities, after RCT, a post (made of metal or fiber) is place
                            to reinforce the broken tooth wall and help with increasing surface area to place a crown or
                            to make the tooth more viable for chewing.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            When is multiple sitting RCT suggested?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">When the infection is chronic and the patient has been ignoring for
                            a long time, there is pus, swelling, inflammation and severe pain, multiple sittings are
                            needed to drain the pus and slowly restore the tooth health with medicaments placed inside
                            the tooth canals and antibiotics.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            Whenever there is pain in tooth does it indicate that the RCT required?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">Yes, implant surgery is a very minor procedure and is completely
                            safe for everyone but we have to take little precautions and plan the procedure in a certain
                            way in the patients with medical conditions like diabetes, blood pressure, and cardiac
                            problems. </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>