<div class="container implant-section">
    <section>

        <div class="row hero-row">
            <h1>
                ORTHODONTICS
            </h1>
            <p>
                Braces are the most popular means of treating crowded, spaced or forwardly placed teeth since centuries.
                Once every decade technology takes a leap and unlike olden times, the newer braces are much more
                comfortable, faster and less visible. We at Family Dental Dwarka provide the most economical braces
                packages in Delhi NCR.
            </p>
            <div class="row implant-type-row">
                <ul class="implant-types type-list">
                    <li>
                        <div class="row align-items-center justify-content-center type-row m-3">
                            <div class="col-12 col-lg-5 p-2 justify-content-center">
                                <img height="250px" src="images\traditional-braces.jpg" alt="" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-12 col-lg-7 p-3">
                                <h4>Traditional braces</h4>
                                <p>
                                    They are the oldest form of braces and the most widely used variety.
                                    They are of 2 types, Metal braces (slightly more visible, more sturdy), Ceramic
                                    braces (Slightly less visible, preferred by girls and older teens).
                                    Traditional braces are ligated (attached) to the main u-shaped wire by means of an
                                    elastic called module.
                                    The modules are changed at every visit, but it has been observed in patients treated
                                    over many years that
                                </p>
                                <ul class="fa-ul-treatment">
                                    <li>
                                        <i class="fas fa-tooth"></i> Extractions are necessary in most cases
                                    </li>
                                    <li>
                                        <i class="fas fa-tooth"></i> Tightening is compulsory every month
                                    </li>
                                    <li>
                                        <i class="fas fa-tooth"></i> Modules get discoloured by food stains
                                    </li>
                                    <li>
                                        <i class="fas fa-tooth"></i> Food collects more around modules
                                    </li>
                                    <li>
                                        <i class="fas fa-tooth"></i> The tightening process done at every visit results
                                        in slight soreness for next 2-3 days
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row align-items-center justify-content-center type-row m-3">

                            <div class="col-12 col-lg-7 p-2">
                                <h4>Self-Ligating or Automatic Braces </h4>
                                <p>
                                    They also come in a Metal and Ceramic variety. Self-ligating braces do not need
                                    modules for tightening. They have a built-in clasp which tightens over the main wire
                                    itself, not needed external tightening. This gives the system and edge over the
                                    traditional braces.
                                </p>
                                <ul class="fa-ul-treatment">
                                    <li>
                                        <i class="fas fa-tooth"></i> Extractions can be avoided in most cases
                                    </li>
                                    <li>
                                        <i class="fas fa-tooth"></i> Self activated, tightening not compulsory every
                                        month
                                    </li>
                                    <li>
                                        <i class="fas fa-tooth"></i> Ideal for busy students, more comfortable with less
                                        visits
                                    </li>
                                    <li>
                                        <i class="fas fa-tooth"></i> No modules, no discoloration
                                    </li>
                                    <li>
                                        <i class="fas fa-tooth"></i> Smaller in size, less visible, less food build up
                                    </li>
                                    <li>
                                        <i class="fas fa-tooth"></i> No tightening needed, no soreness after every visit
                                    </li>
                                </ul>
                            </div>

                            <div class="col-12 col-lg-5 p-2 justify-content-center">
                                <img height="220px" src="images\self-litigating-braces.jpg" alt="" class="img-fluid img-thumbnail">
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <hr class="featurette-divider">
    <section>
        <div class="faq-section">
            <h1>
                FAQ's
            </h1>
            <div class="accordion accordion-flush" id="faqAccordian">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            What is the best time to get braces?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">
                            <p>
                                The ideal time to get braces is after all the milk teeth of the
                                child have been replaced by permanent teeth, although this age can vary in children due
                                to
                                different eating habits.
                            </p>
                            <p>
                                This age coincides with puberty in children; any changes made to
                                the teeth are readily accepted by the body.
                            </p>
                            <p>
                                Owing to newer advancements in the field of
                                dentistry especially digital scanning procedures, there is no upper age limit of braces
                                treatment. Adults of all age can undergo this treatment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            What are retainers and who needs them?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">
                            <p>
                                After the treatment is over, the teeth breathe freely after months and immediately try
                                to go back to their original position. To remind them of their new position, they are
                                restrained or held in place by a device called retainers which prevents them from going
                                back to their original position.
                            </p>
                            <p>
                                Retainers can be removable (for children), invisible (for teens) or fixed at the back
                                surface (for adults).
                            </p>
                            <p>
                                They need to be worn for 6-12 months depending on the original condition of teeth.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            What do I eat or drink after getting braces?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#faqAccordian">
                        <div class="accordion-body">
                            <p>
                                We understand that in growing years, it’s difficult to put eating restrictions on
                                children or teens, let’s face it, we love pizza too!
                            </p>
                            <p>
                                There are simple food restrictions with braces, which if followed can allow you to eat
                                all your favourite foods with ease.
                            </p>
                            <p>
                                The rule is never to eat from the front teeth, always break or cut food into small
                                pieces and eat from the back teeth, the chewing continues but the biting stops.
                            </p>
                            <p>
                                Avoid extremely hard or sticky things, especially raw apple or guava, popcorn, walnuts,
                                five star, éclairs etc.
                            </p>
                            <p>
                                o If you are innovative and careful you can eat almost anything. If craving pizza, avoid
                                the crust and eat the middle with fork and knife. If craving ice cream, avoid the cone
                                ones and choose the cup ones. If craving chocolate, avoid the fruit and nut ones; choose
                                a plain one, slightly microwaved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>