<main class="container implant-section" id="implants">
    <div class="row hero-row">
        <div class="col-sm-6 ">

            <section class="container container--gallery">
                <div class="row">
                    <div class="gg-container">
                      <div class="gg-box" id="horizontal">
                        <!--
                          https://images.weserv.nl/?url=https://familydentaldwarka.in/images/pedodentistry.webp&q=80
                        -->
                        <img src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/pedodontics1.webp&q=80" alt="" />
                        <img src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/pedodontics2.webp&q=80" alt="" />
                        <img src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/pedodontics3.webp&q=80" alt="" />
                      </div>
                    </div>
                  </div>
              </section>
        </div>
        <div class="col-sm-6 hero-row">


            <h1>
                PEDODONTICS (CHILD DENTISTRY)
            </h1>
            <p>
                Child dentistry in Family Dental Dwarka is handled by our seasoned Pedodontist or Child Specialist who
                has special training in handling the young ones of all ages with ultimate patience and care.
            </p>
            <p>
                The clinic has experience in dealing with children as young as 6 months and as old as 12 years. At our
                practice we believe that simply removing milk teeth thinking they will be replaced in the future is not
                the solution. Milk teeth are place holders for permanent teeth which erupt at their designated time. If
                this schedule is disturbed then teeth become crowded or forwardly placed and the child ends up getting
                braces.
            </p>
            <p>
                To avoid more serious treatment in the future, milk teeth should be preserved by simple means such as
                root canals and crowns for milk teeth by a specialist.
            </p>
        </div>

        <hr class="featurette-divider">

        <section>
            <div class="row implant-type-row">
                <ul class="implant-types type-list">
                    <li>
                        <div class="row d-flex align-items-center justify-content-center type-row">
                            <div class="col-7">
                                <h4>Painless Root Canal for kids</h4>
                                <p>
                                    When the milk tooth gets infected, the child presents with pain, swelling and
                                    difficulty in eating. If the permanent tooth is not due for more than 3 months, the
                                    milk tooth is retained by root canal.
                                </p>
                                <p>
                                    This procedure at Family dental Dwarka is done by our Pedodontist. It is virtually
                                    painless, comfortable and is done at the pace most suited to the patient and parent
                                    mentalities.
                                </p>
                                <p>
                                    We try our best not to use anesthesia so that the patient is more cooperative and
                                    trusting. In cases where anesthesia is needed, the finest needle used for insulin
                                    injections is used, so that the child barely feels the prick and is more cooperative
                                    with the treatment.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row  d-flex align-items-center justify-content-center type-row">

                            <div class="col-7">
                                <h4>Crowns for Children</h4>
                                <p>
                                    After the root canal procedure, the tooth loses part of its structure and the child
                                    is unable to eat with it. A crown or cap is put to restore tooth substance and tooth
                                    strength.
                                </p>
                                <p>
                                    If the tooth is at the back and not very visible, a Stainless Steel crown is put.
                                    Depending on the child’s cooperation, this is usually a single sitting procedure and
                                    is absolutely pain free.
                                </p>
                                <p>
                                    If the tooth is in front, we can use semi permanent Composite Strip crowns or
                                    Polycarbonate crowns. These are tooth colored crowns and once the tooth becomes
                                    loose or the permanent tooth starts erupting, they can be easily removed painlessly.
                                </p>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="row  d-flex align-items-center justify-content-center type-row">

                            <div class="col-7">
                                <h4>Space Maintainer</h4>
                                <p>
                                    When a milk tooth is lost at an early age and the permanent tooth is not due for
                                    more than 3 months, a small device is put in its place taking support from
                                    neighboring teeth.
                                </p>
                                <p>
                                    This prevents the collapse of the space left behind by the tooth, which will be
                                    needed for the permanent tooth to erupt in future.
                                </p>
                                <p>
                                    In case this is not done, the remaining teeth drift into this space and occupy it,
                                    causing crowding, forward placement of teeth and random teeth positions, making the
                                    child a future candidate for braces.
                                </p>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="row  d-flex align-items-center justify-content-center type-row">

                            <div class="col-7">
                                <h4>Anti Cavity Sealants</h4>
                                <p>
                                    Sealants are used for both children and adults to seal the depressions on the chewing surface of back teeth. This thin liquid flows into all the small depressions where food usually collects and causes cavities.
                                </p>
                                <p>
                                    By sealing these areas, cavities can usually be avoided in the future in young children.
                                </p>
                                <p>
                                    These are done at the age of 3, 5,7 and 9 years.
                                </p>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="row  d-flex align-items-center justify-content-center type-row">

                            <div class="col-7">
                                <h4>Fluoride Treatment for Children</h4>
                                <p>
                                    Fluoride is needed to support healthy enamel and provide an outer protective layer for the tooth.
                                </p>
                                <p>
                                    In some cases where a child has white spots on teeth, has been consuming low fluoridated ground water or generally has weak enamel, external fluoride application is done.
                                </p>
                                <p>
                                    It also helps in remineralization or strengthening of weakened areas of enamel.
                                </p>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>
