<div class="container implant-section">
    <section>
        <div class="row hero-row">
            <h1>
                PERIODONTICS
            </h1>
            <div class="row implant-type-row">
                <ul class="implant-types type-list">
                    <li>
                        <div class="row align-items-center justify-content-center type-row">
                            <div class="col-7">
                                <h4>Scaling & Polishing</h4>
                                <p>
                                    This is done to remove the soft and hard debris deposit on the
                                    teeth. This procedure restores your gums and bone health which is
                                    deteriorated by debris. Ideally, it should be done every 6 months.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row align-items-center justify-content-center type-row">

                            <div class="col-7">
                                <h4>Root Planning</h4>
                                <p>
                                    This procedure is done to remove the deep embedded debris from the
                                    gums and to remove the infected layer of roots of teeth to make them
                                    more hard and smooth. This is only done when indicated by the
                                    dentist.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row  d-flex align-items-center justify-content-center type-row">
                            <div class="col-7">
                                <h4>Curettage</h4>
                                <p>
                                    It is a minor surgical procedure done to clean the deep embedded
                                    debris which is not accessible with root planning. This procedure
                                    restores the gum health significantly and is very effective for
                                    infected, inflamed, bleeding and swollen gums with chronic
                                    infection.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row  d-flex align-items-center justify-content-center type-row">

                            <div class="col-7">
                                <h4>Gum Depigmentation</h4>
                                <p>
                                    Pink healthy gums are an integral part of a beautiful smile. Dark
                                    and pigmented gums ruin your smile. To correct this condition, gum
                                    depigmentation is done to remove dark spots from the gums. It’s a
                                    pain free procedure done by our on-call Periodontist (Gum
                                    Specialist) with laser which makes it extremely precise and
                                    comfortable.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row  d-flex align-items-center justify-content-center type-row">
                            <div class="col-7">
                                <h4>Periodontal Flap Surgery</h4>
                                <p>
                                    This is a Surgical procedure to cure severe bone and gums diseases
                                    which can’t be cured by antibiotics, scaling and Root planning and
                                    even curettage.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="before-after">
        <h2>Before And After</h2>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 col-lg-6 image-wrapper before-img">
                <img src="images\review6_1.jpg" class="img-fluid">
                <h5>Before</h5> 
              </div>
              <div class="col-12 col-lg-6 image-wrapper after-img" style="width: auto;" class="img-fluid"> 
                <img src="images\review6_2.jpg">
                <h5 style="color: aliceblue;" >After</h5> 
            </div>
        </div>
    </section>

    <hr class="featurette-divider">

    <section>
        <div class="faq-section">
            <h1>
                FAQ's
            </h1>
            <div class="accordion accordion-flush" id="faqAccordian">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Does scaling/cleaning remove top layer of the tooth?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">No. Scaling is done using only a fast jet of water
                            to remove the debris from top layer of teeth. When done properly, it does
                            not damage the enamel in any way.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Does scaling loosen our teeth?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">No. Scaling only removes the top most debris layer
                            using a fast jet of water. Sometimes when there are very heavy deposits
                            between teeth, their removal gives a false feeling of teeth feeling loose.
                            After following the correct precautions and dentist’s instructions, this
                            feelng is overcome in 1-2 days.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Will Flap surgery will be painful?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#faqAccordian">
                        <div class="accordion-body">Flap surgery is a specialized procedure done by our
                            on-call Periodontist. We take complete care to ensure that the patient feels
                            little to no pain during this procedure.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>