<div class="container implant-section">
    <section>
        <div class="row hero-row">
            <h1>
                PROSTHODONTICS
            </h1>
            <div class="row implant-type-row">
                <ul class="implant-types type-list">
                    <li>
                        <div class="row d-flex align-items-center justify-content-center type-row">
                            <div class="col-12 col-lg-5 p-2">
                                <img src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/Porcelain-Fused-to-Metal-Crown.webp&q=80&h=250" alt="" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-12 col-lg-7 p-3">
                                <h4>PFM Crowns</h4>
                                <p>
                                    These are crowns with a metal framework inside and a porcelain (white) layer
                                    outside. They are usually indicated for posterior teeth.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row  d-flex align-items-center justify-content-center type-row">

                            <div class="col-12 col-lg-7 p-3">
                                <h4>Zirconia Crowns</h4>
                                <p>
                                    These are complete ceramic crowns which are aesthetic and biocompatible. They
                                    resemble natural teeth perfectly owing to our precise and reliable lab work at
                                    Family Dental Dwarka. These are usually indicated for anterior or front teeth.
                                </p>
                            </div>

                            <div class="col-12 col-lg-5 p-2">
                                <img src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/Zirconium_Crown_abroad.webp&q=80&h=250" alt="" class="img-fluid img-thumbnail">
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="row align-items-center justify-content-center type-row">
                            <div class="col-12 col-lg-5 p-3">
                                <img src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/emax-crown.webp&q=80&h=200" alt="" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-12 col-lg-7 p-3">
                                <h4>E-Max Crowns</h4>
                                <p>
                                    Ceramic crowns which are much more aesthetic and translucent which make them look
                                    like our natural tooth.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row align-items-center justify-content-center type-row">

                            <div class="col-12 col-lg-7 p-3">
                                <h4>Complete Denture</h4>
                                <p>
                                    If the patient does not have a single tooth in his mouth then this is an option.
                                    It’s a plate with a complete set of teeth which is custom made.
                                </p>
                            </div>

                            <div class="col-12 col-lg-5 p-2">
                                <img src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/full-dentures.webp&q=80&h=220" alt="" class="img-fluid img-thumbnail">
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="row align-items-center justify-content-center type-row">
                            <div class="col-12 col-lg-5 p-2">
                                <img src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/implant-supported-dentures.webp&q=80&h=250" alt="" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-12 col-lg-7 p-3">
                                <h4>Implant-supported Denture</h4>
                                <p>
                                    In case the patient is missing all his teeth since a long time, the jaw bone on
                                    which the denture is placed tends to wear out or shrink, due to this it does not
                                    support the denture properly. To increase retention and stability of the denture,
                                    implants are placed at specific sites so that the underside of the denture can hold
                                    on to the implant heads and the denture gets the desired support that it is missing.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row align-items-center justify-content-center type-row">

                            <div class="col-12 col-lg-7 p-3">
                                <h4>Removable Partial Denture</h4>
                                <p>
                                    These are advised to patients who have few missing teeth. These are rigid (with
                                    clasps) & flexible which is made up of silicon.
                                </p>
                            </div>

                            <div class="col-12 col-lg-5 p-2">
                                <img src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/partial-denture.webp&q=80&h=220" alt="" class="img-fluid img-thumbnail">
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <hr class="featurette-divider">
    <section>
        <div class="faq-section">
            <h1>
                FAQ's
            </h1>
            <div class="accordion accordion-flush" id="faqAccordian">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Why do I need a crown?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">After RCT, all the infected parts of the tooth are removed, due to
                            which it’s strength decreases. To reinforce the strength of the tooth and restore its
                            chewing surface in order to eat food properly, a crown is needed.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Is crown procedure painful?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">No. since the RCT has already been done, there is no sensation in the tooth. You will not feel the procedure at all.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            How many sittings does crown procedure take?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#faqAccordian">
                        <div class="accordion-body">The crown procedure takes only 2 sittings.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            Which labs are used for making the crowns?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">We work with only the best labs in Delhi and a nation-wide popular lab called Dentcare in Kerala. Till date no patient has been dissatisfied with the quality and precision of our lab work.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            Will there be any discomfort after getting crowns?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">A strange sensation is felt after getting a crown for the next 1-2 days since it’s a new device in the mouth. This is in no way painful or uncomfortable.</div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false"
                            aria-controls="flush-collapseSix">
                            Which crown is better for my case (Metal/PFM or Zirconia)?
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">Althought both kinds of crowns work for all teeth, owing to simply their esthetic quality, PFM crowns are usually indicated for back teeth as they are slightly darker in colour. Zirconia or E-max crowns are generally indicated for front teeth as they resemble natural teeth more.</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSeven" aria-expanded="false"
                            aria-controls="flush-collapseSeven">
                            How much does Zirconia or E-max crown cost?
                        </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                        data-bs-parent="#faqAccordian">
                        <div class="accordion-body">At Family Dental Dwarka, we don’t believe in overcharging our patients for the sake of expensive dental treatment. Our prices are very affordable and we assure quality which is pocket friendly as well. The much popular Zirconia or E-max crowns which are rumoured to very expensive start from 8000 Rs in our practice.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>