<div class="row test-row">

    <div class="container-fluid test-carousel">
  
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="row m-0 p-0">
                    <img class="img-fluid swiper-lazy"
                        src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/flash/flash1.webp&q=80"
                        alt="patient before and after">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row m-0 p-0">
                    <img class="img-fluid swiper-lazy"
                        src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/flash/flash2.webp&q=80"
                        alt="patient before and after">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row m-0 p-0">
                    <img class="img-fluid swiper-lazy "
                        src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/flash/flash3.webp&q=80"
                        alt="patient before and after">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row m-0 p-0">
                    <img class="img-fluid swiper-lazy "
                        src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/flash/flash4.webp&q=80"
                        alt="patient before and after">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row m-0 p-0">
                    <img class="img-fluid swiper-lazy "
                        src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/flash/flash5.webp&q=80"
                        alt="patient before and after">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row m-0 p-0">
                    <img class="img-fluid swiper-lazy "
                        src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/flash/flash6.webp&q=80"
                        alt="patient before and after">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row m-0 p-0">
                    <img class="img-fluid swiper-lazy "
                        src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/flash/flash7.webp&q=80"
                        alt="patient before and after">
                </div>
            </div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
  
  
    </div>
  </div>