<footer id="contact-us" class="container-fluid m-0 p-0">
    <div class="row m-0 p-0">
        
        <div class="col-12 col-md-6 col-lg-3 mx-auto my-auto py-3">
            <a class="img-fluid" href="/">
                <img src="https://images.weserv.nl/?url=https://familydentaldwarka.in/images/logo-02.webp&q=80&h=325&w=325" alt="family dental logo" height="325" width="325"
                    class="img-fluid d-inline-block">
                <h1 class="footer-brand-name">
                    <bold>Family</bold> Dental
                </h1>
            </a>
        </div>

        <div class="col-12 col-md-6 col-lg-3 py-4 link-col">
            <h2 class="col-title py-3">Important Links</h2>
            <ul class="link-list text-justify">
                <li class="nav-item text-justify">
                    <a class="text-left" aria-current="page" href="/treatments">Treatments</a>
                </li>
                <li class="nav-item text-justify">
                    <a class="" aria-current="page" href="/implants">Implants</a>
                </li>
                <li class="nav-item text-justify">
                    <a class="" aria-current="page" href="/invisalign">Invisalign</a>
                </li>
                <li class="nav-item text-justify">
                    <a class="" href="/ourClinic" aria-disabled="true">Our Clinic</a>
                </li>
                <li class="nav-item text-justify">
                    <a class="" href="/ourDoctors" aria-disabled="true">Our Team</a>
                </li>
            </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-3 addr-col my-auto">
            <h2 class="col-title py-2"><i class="fas fa-map-marker-alt foot-icon"></i> Contact Address</h2>
            <ul class="contact-list">
                <li>
                    Family Dental, Dwarka
                </li>
                <li>
                    G-03, Ground Floor, Centric Plaza
                </li>
                <li>
                    MLU Plot, Street Number 8
                </li>
                <li>
                    Sector-11, Dwarka,
                </li>
                <li>
                    New Delhi, Delhi-110075
                </li>
            </ul>
            <div class="embed-responsive">
                <iframe
                    title="maps location for clinic"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.4334417417344!2d77.04180601549454!3d28.58677099290065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1bf74e03abf7%3A0xec9f9f3ee853f58f!2sFamily%20Dental%20%7C%20Best%20Dentist%20in%20Dwarka%20%7C%20Best%20Braces%20Specialist%20in%20Dwarka%20%7C%20Affordable%20Invisalign%20%7C%20Best%20Dental%20Implants%20in%20Dwarka!5e0!3m2!1sen!2sin!4v1639309954082!5m2!1sen!2sin"
                    style="border:0;" allowfullscreen="" loading="lazy" class="h-25 w-75"></iframe>
            </div>
        </div>


        <div class="col-12 col-md-6 col-lg-3 contact-col py-5">
            <p class="footer-time">
                <i class="fas fa-clock foot-icon"></i>
                Mon-Sat 10:00AM-8:00PM
            </p>
            <p class="footer-time">Wednesday OFF</p>
            <p class="footer-time">Sunday Appointment Only</p>
            <h2 class="col-title py-2">Contact Info</h2>
            <ul class="contact-list">
                <li>
                    <a href="tel:+918851195050" aria-label="call us">
                        <i class="fas fa-phone foot-icon"></i> +91 88511 95050
                    </a>
                </li>
                <li>
                    <a href="tel:+919582474046" aria-label="call us">

                        <i class="fas fa-phone foot-icon"></i> +91 95824 74046
                    </a>
                </li>
                <li>
                    <a href="mailto:familydentaldwarka@gmail.com" aria-label="send us a mail">
                        <i class="fas fa-envelope foot-icon"></i>
                        familydentaldwarka@gmail.com
                    </a>
                </li>
            </ul>
            <h2 class="col-title py-2">Socials</h2>
            <ul class="socials-list row mx-auto w-50">
                <li class=" col-6 p-1">
                    <a href="https://www.facebook.com/Family-Dental-106076840847829" target="_blank" aria-label="find us on facebook"><i
                            class="fab fa-facebook-square foot-icon fa-3x"></i></a>
                </li>
                <li class="col-6 p-1">
                    <a href="https://www.instagram.com/thetravelling_orthodontist/" target="_blank" aria-label="find us on instagram"><i
                            class="fab fa-instagram-square foot-icon fa-3x"></i></a>
                </li>
                <li class="col-6 p-1 ">
                   <!--https://wa.me/918851195050?text=Can%20I%20book%20an%20appointment--> 
                    <!--https://www.google.com/search?q=family+dental+dwarka+sector+11&rlz=1C1ONGR_enIN984IN984&tbm=lcl&sxsrf=APq-WBt8rAE8P7Z2oXz5yHF5Ida4U7cbvA:1651004890187&ei=2lVoYvSSC8G_8QPx94LIDQ&oq=family+dental+dwarka+sector+11&gs_l=psy-ab.3..38l2.4451.7476.0.8669.10.10.0.0.0.0.140.1194.0j9.9.0....0...1c.1.64.psy-ab..1.8.1062...0i22i30k1.0.eSXphs1InFk#rlfi=hd:;si:17050521806782592399,l,Ch5mYW1pbHkgZGVudGFsIGR3YXJrYSBzZWN0b3IgMTFIifjvq4GwgIAIWi4QABABGAAYARgCGAMYBCIeZmFtaWx5IGRlbnRhbCBkd2Fya2Egc2VjdG9yIDExkgENZGVudGFsX2NsaW5pYw;mv:[[28.586946277319022,77.04419966372619],[28.586586322680965,77.04378973627382]]-->
                    <a href="https://www.google.com/search?q=family+dental+dwarka+sector+11&rlz=1C1ONGR_enIN984IN984&tbm=lcl&sxsrf=APq-WBt8rAE8P7Z2oXz5yHF5Ida4U7cbvA:1651004890187&ei=2lVoYvSSC8G_8QPx94LIDQ&oq=family+dental+dwarka+sector+11&gs_l=psy-ab.3..38l2.4451.7476.0.8669.10.10.0.0.0.0.140.1194.0j9.9.0....0...1c.1.64.psy-ab..1.8.1062...0i22i30k1.0.eSXphs1InFk#rlfi=hd:;si:17050521806782592399,l,Ch5mYW1pbHkgZGVudGFsIGR3YXJrYSBzZWN0b3IgMTFIifjvq4GwgIAIWi4QABABGAAYARgCGAMYBCIeZmFtaWx5IGRlbnRhbCBkd2Fya2Egc2VjdG9yIDExkgENZGVudGFsX2NsaW5pYw;mv:[[28.586946277319022,77.04419966372619],[28.586586322680965,77.04378973627382]]" target="_blank"><i
                            class="fab fa-google foot-icon fa-3x" aria-label="find us on google"></i></a>
                </li>
                <li class="col-6 p-1">
                    <a target="_blank" href="mailto:contactus@familydentaldwarka.in" aria-label="send us a mail"><i
                            class="fas fa-envelope-square foot-icon fa-3x"></i></a>
                </li>
            </ul>
        </div>

    </div>

    <div class="row container-fluid  m-0 p-0">
        <div class="col-12 justify-content-center align-items-center foot p-0 m-0">
            <p>&copy; 2019–2022 Family Dental &middot;</p>
        </div>
    </div>



</footer>
</main>

<!-- Bootstrap 5 JavaScript CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- font awesome -->
<script src="https://kit.fontawesome.com/0108ae0078.js" crossorigin="anonymous"></script>

<script src="/js/user-form-check.js"></script>
<script src="/js/album.js"></script>
<script src="/js/info-bar.js"></script>
<script src="/js/back-to-top.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
    const config = {
  type: 'carousel',
  startAt: 0,
  perView: 4,
  breakpoints:{
      1024:{
          perView: 2
      },
      600:{
          perView: 1
      }
  }
  
}
    new Glide('.glide', config).mount();
</script>

</body>


</html>