<div class="row test-row">

    <div class="container-fluid test-carousel">

        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper justify-content-center">
              <!-- Slides -->
              <div class="swiper-slide">
                <div class="row">
                    <div class="col-12">
                        <h5>Jasleen's Transformation</h5>
                    </div>
                    <img class="img-fluid swiper-lazy px-5 py-3"
                        src="https://familydentaldwarka.in/images/bnoGallery/1Screenshot-Jasleen.webp" alt="patient before and after">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="row">
                    <div class="col-12">
                        <h5>Keerath's Transformation</h5>
                    </div>
                    <img class="img-fluid swiper-lazy px-5 py-3"
                        src="https://familydentaldwarka.in/images/bnoGallery/2Screenshot-Keerath.webp" alt="patient before and after">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="row">
                    <div class="col-12">
                        <h5>Aamir's Transformation</h5>
                    </div>
                    <img class="img-fluid swiper-lazy px-5 py-3"
                        src="https://familydentaldwarka.in/images/bnoGallery/3ScreenShot-Aamir.webp" alt="patient before and after">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="row">
                    <div class="col-12">
                        <h5>Akhil's Transformation</h5>
                    </div>
                    <img class="img-fluid swiper-lazy px-5 py-3"
                        src="https://familydentaldwarka.in/images/bnoGallery/4Screenshot-Akhil.webp" alt="patient before and after">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="row">
                    <div class="col-12">
                        <h5>Mariam's Transformation</h5>
                    </div>
                    <img class="img-fluid swiper-lazy px-5 py-3"
                        src="https://familydentaldwarka.in/images/bnoGallery/5Screenshot-Mariam.webp" alt="patient before and after">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="row">
                    <div class="col-12">
                        <h5>Mariam's Transformation</>
                    </div>
                    <img class="img-fluid swiper-lazy px-5 py-3"
                        src="https://familydentaldwarka.in/images/bnoGallery/6Screenshot-Mariam.webp" alt="patient before and after">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="row">
                    <div class="col-12">
                        <h5>Meera's Transformation</>
                    </div>
                    <img class="img-fluid swiper-lazy px-5 py-3"
                        src="https://familydentaldwarka.in/images/bnoGallery/7Screenshot-Meera.webp" alt="patient before and after">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="row">
                    <div class="col-12">
                        <h5>Monica's Transformation</h5>
                    </div>
                    <img class="img-fluid swiper-lazy px-5 py-3"
                        src="https://familydentaldwarka.in/images/bnoGallery/8Screenshot-Monica.webp" alt="patient before and after">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="row">
                    <div class="col-12">
                        <h5>Yash's Transformation</h5>
                    </div>
                    <img class="img-fluid swiper-lazy px-5 py-3"
                        src="https://familydentaldwarka.in/images/bnoGallery/9Screenshot-Yash.webp" alt="patient before and after">
                </div>
              </div>
            </div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
    </div>
</div>