<%- include("./partials/backdoorHeader"); -%>
  <h1>Compose</h1>
  <form id="blogForm">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" id="blogTitle" type="text" name="postTitle">
      <label>Topic</label>
      <input class="form-control" id="blogTopic" type="text" name="postTopic">
      <label>Post</label>
      <textarea rows="5" name="postBody"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>


  <script>
    const form = document.querySelector('#blogForm');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();


      const title = form.postTitle.value;
      const topic = form.postTopic.value;
      const content = form.postBody.value;

      console.log(title, topic, content);

      try {
        const res = await fetch('/admin/addBlog', {
          method: 'POST',
          body: JSON.stringify({ title, topic, content }),
          headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();
        console.log(data);



        if (data.errors) {
          console.log(data.errors);
        }
      }
      catch (err) {
        //give failure modal!
        console.log(err);
      }
    });

  </script>

  <%- include("./partials/backdoorFooter"); -%>